loguru 
ydata-profiling 
pandas 
tables 
openpyxl 
optbinning 
lightgbm 
jieba 
marimo>=0.24.0,<0.25
scikit-learn>=1.6,<1.8
sqlalchemy>=2.0,<3
joblib>=1.4
matplotlib>=3.9
setuptools>=70,<81
python-calamine
